.headlining{
    display: flex;
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    font-size: 42px;
    color: #3a4d7f;
}

.subheadlining{
   padding-top: 64px;
   padding-bottom: 16px;
   padding-left: 64px;
   font-size: 32px; 
   color: #3a4d7f;
}

.main_input_ref{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50vh;
    background-color: rgba(216, 223, 231, 0.614);
    box-shadow: 0px 0px 4px 1px #3a4d7f;
}

.input_titel{
 padding-left: 16px;
 margin-left: 64px;
 margin-right: 64px;
 width: 90%;
 height: 10%;
 border-radius: 10px;
 border: none;
 outline: none;
 margin-top: 32px;
 margin-bottom: 32px;
 font-size: 18px;
 transition: all 0.25s ease-in-out;
}

.input_titel:hover{
    box-shadow: 0px 1px 7px black;
}

.input_titel::placeholder{
    text-align: start;
    font-weight: 700;
    color: #777777;
}

.input_titel:focus{
    border:none;
    outline: none;
    background-color:rgb(255, 255, 255);
}

.input_text{
padding-top: 18px;
 padding-left: 16px;
 margin-left: 64px;
 margin-right: 64px;
 width: 90%;
 height: 40%;
 border-radius: 10px;
 border: none;
 outline: none;
 font-size: 18px;
 transition: all 0.25s ease-in-out;
}

.input_text:hover{
    box-shadow: 0px 1px 7px black;
}

.input_text::placeholder {
  text-align: start;
  font-weight: 700;
  position: absolute;
  top: 10%;
  border: none;
}

.input_text:focus{
    border:none;
    outline: none;
    background-color:rgb(255, 255, 255);
}

.flex_dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash_dialog_content{
    top: 32px;
    bottom: 32px;
    left: 16px;
    right: 16px;
    width: 100%;
    height: 100vh;
    border: none;
    
    background-color: #3a4e7ff3;
    border-width: 8px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

.dialogProperties{
display: flex;
justify-content: flex-end;

}

.footer{
    width: 100wh;
    height: 10vh;
    background-color: #3a4d7f;
}