*{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#edfcff ;
    color: #333333;
}

.main{
    flex: 1;
}

a{
    text-decoration: none;
}

